---
---
{% if (entry.type == 'inproceedings' or entry.type == 'conference') and entry.url %}
<a href="{{ entry.url | escape }}" target="_blank" rel="noopener noreferrer" style="color: #1e90ff;">
    {{ reference | replace_first: 'Doe, A.', '<b>Doe, A.</b>' }}
</a>
{% else %}
{{ reference | replace_first: 'Doe, A.', '<b>Doe, A.</b>' }}
{% endif %}

{% if entry.doi %}
doi: <a class="doi-link" href="https://doi.org/{{ entry.doi }}" target="_blank" rel="noopener noreferrer">
    {{ entry.doi }}
</a>
{% endif %}